@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0 200px;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0.25fr 1fr 0.25fr;
}

.loadingPage {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #383838;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: all ease-out 0.25s;
  overflow: hidden;
  font-family: "Noto Sans KR";
  font-weight: 300;
}
.loadingPage img {
  transition: ease-out 2s;
  width: 70px;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.foodButZone {
  display: grid;
  grid-template-rows: 50px 1fr;
}
.foodButScreen {
  width: 5vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 998;
}
.foodButsTitle {
  margin-left: 5.5vw;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: -1px;
  color: #383838;
}

.scrollZone {
  height: 165px;
  width: 22.5px;
  position: absolute;
  z-index: 998;
  margin: 5px 0px;
}
.scrollZone:hover {
  filter: brightness(102%);
}
.leftScrollZone {
  left: 0;
  background-image: linear-gradient(to left, #d4d4d4f3, #eeeeeeb0);
  border-radius: 0px 10px 10px 0px;
}
.rightScrollZone {
  right: 0;
  border-radius: 10px 0px 0px 10px;
  background-image: linear-gradient(to right, #dadadaf3, #eeeeeeb0);
}

.foodButs {
  display: flex;
  flex-direction: row;
  z-index: 997;
  margin: 0 5vw;
  overflow-x: scroll;
}
.foodButs::-webkit-scrollbar {
  display: none;
}

.foodBut {
  border: 0;
  outline: 0;

  height: 165px;
  min-width: 165px;
  margin: 5px;
  padding: 0;
  border-radius: 15%;
  cursor: pointer;

  background-image: linear-gradient(to bottom, #f5c64d, #d58e3d);
  box-shadow: 0 3px 10px #d6d6d6;
  z-index: 997;

  transition: 0.25s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}
.foodBut:hover {
  /* filter: brightness(101.25%); */
  transform: translateY(-5px);
}
.foodBut img {
  width: 100px;
}

.saladBut {
  border: 0;
  outline: 0;

  height: 185px;
  min-width: 165px;
  margin: 5px;
  padding: 0;
  border-radius: 15%;
  cursor: pointer;

  background-image: linear-gradient(to bottom, #3fe35b, #19a360);
  box-shadow: 0 3px 10px #d6d6d6;

  z-index: 997;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 0.95rem;
  letter-spacing: -1px;
  color: #383838;

  transition: 0.25s ease-in-out;

  display: grid;
  grid-template-rows: 1fr 70px;
}

.saladBut img {
  width: 100px;
  margin: auto;
  margin-top: 45px;
}
.saladBut span {
  width: 50px;
  background-color: #f2f2f2;
  padding: 8px 10px;
  border-radius: 15px;
  transition: 0.25s;
  margin-left: 10px;
}
.saladBut p {
  transition: 0.25s;
  font-size: 0.9rem;
  text-align: left;
  color: #f5f5f5;
  font-weight: 400;
  float: left;
  margin-left: 10px;
}
.saladBut span:hover {
  filter: brightness(101.25%);
}
.alertFoodImg {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.foodImgZone {
  z-index: 0;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 8%;
  box-shadow: 0 0 20px #313131;
  width: 500px;
  max-width: 80vw;
}
.foodImgZone button {
  all: unset;
  padding: 10px 25px;
  background-color: #84b271;
  color: #303030;
  box-shadow: 0 3px 10px #a6cf95;
  border-radius: 18px;
  float: right;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 1.05rem;
  letter-spacing: -1px;
  cursor: pointer;
}
.foodImg {
  width: 80%;
  display: block;
  margin: 10% auto;
  user-select: none;
  filter: blur(0.9px) hue-rotate(415deg) saturate(65%) brightness(80%)
    drop-shadow(0 0px 70px #a6cf95) contrast(93%);
}

.foodImgBackground {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  top: 0;
  filter: opacity(85%) drop-shadow(0 0 10px #5252529c);
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }
  .scrollZone {
    display: none;
  }
}
