@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  background-color: #f5f5f5;
}

.loadingPage {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #383838;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: all ease-out 0.25s;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 998;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 80px;
}
.storeBut {
  all: unset;
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
  cursor: pointer;
  float: right;
  background-color: #f9f9f9;
  margin-top: 7.5px;
  box-shadow: 0 2px 10px #bebebe;
}
.storeBut:hover {
  filter: brightness(110%);
}

.foodButs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 997;
  margin-top: 70px;
}

.foodBut {
  border: 0;
  outline: 0;

  height: 42.5vh;
  margin: 5px;
  border-radius: 30px;
  cursor: pointer;

  background-color: #383838;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 1.05rem;
  color: #f5f5f5;
  text-shadow: 0 0 20px #000000;
  box-shadow: 0 3px 10px #b9b9b9;
  z-index: 997;

  display: flex;
  align-items: center;
  justify-content: center;
}

.foodBut:hover {
  filter: brightness(102.5%);
}

.foodBut img {
  position: absolute;
  z-index: -999;
  width: 25vw;
  filter: brightness(70%) blur(10.5px);
}

.alertFoodImg {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
}
.foodImgBack {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  top: 0;
  filter: opacity(85%);
}
.foodImgZone {
  z-index: 0;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px #313131;
  width: 500px;
  max-width: 80vw;
}
.foodImgZone button {
  all: unset;
  padding: 8px 20px;
  background-color: #588a56;
  box-shadow: 0 2px 10px #c4c4c4;
  border-radius: 10px;
  float: right;
  font-family: "Noto Sans KR";
  cursor: pointer;
}
.foodImg {
  width: 100%;
  user-select: none;
  filter: blur(0.9px) hue-rotate(415deg) saturate(65%) brightness(80%)
    drop-shadow(0 0px 70px #a6cf95) contrast(93%);
}

@media (max-width: 768px) {
  .foodButs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 997;
  }
  .foodBut img {
    position: absolute;
    z-index: -999;
    width: 40vw;
  }
  .foodImgZone {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px #313131;
    width: 350px;
    max-width: 80vw;
  }
}
