* {
  margin: 0;
  border: none;
  outline: none;
}
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr;
}
.top {
  padding: 5vh 0px;
  width: 100vw;
  text-align: center;
  font-family: "Noto Sans KR";
  text-shadow: 0 0 20px #929292;
  letter-spacing: -0.8px;
  position: fixed;
  background-image: linear-gradient(to bottom, #dadada, #00000000);
}
.butZone {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20vh;
}
.foodBut {
  margin: 13px auto;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background: no-repeat center #ececec;
  background-size: 30vw;
  cursor: pointer;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: fixed;
  background-color: #292929f8;
}
.main_foodZone {
  width: 95vw;
  max-width: 90vh;
  height: 95vw;
  max-height: 90vh;
  background-image: linear-gradient(-30deg, #53924a, #50b672);
  border-radius: 50%;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}
.foodZone_closeBut {
  background-color: #50b67200;
  font-size: 40px;
  color: #f8f8f8;
  cursor: pointer;
  margin-left: 85%;
  text-shadow: 0 0 5px #d6d6d6;
}
.foodZone_img {
  margin: auto;
  width: 75vw;
  max-width: 70vh;
  filter: brightness(60%) hue-rotate(425deg) saturate(300%) contrast(45%)
    blur(0.7px) drop-shadow(2px 5px 15px #548b58);
  user-select: none;
}
.food_explain {
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
  font-family: "Noto Sans KR";
  color: #f2f2f2;
  letter-spacing: -0.5px;
  cursor: pointer;
}
.bottom_gradient {
  background-image: linear-gradient(to top, #6b6b6b, #00000000);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  transition: ease-out filter 0.7s;
}
.bottom_gradient img {
  width: 45px;
  transform: rotate(270deg);
}
.hide {
  filter: opacity(0);
}
.remove {
  display: none;
}
.noScroll {
  overflow: hidden;
}
@media (min-width: 768px) {
  .butZone {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 15vw;
    margin-top: 20vh;
  }
  .foodBut {
    width: 20vw;
    height: 20vw;
    background-size: 15vw;
  }
  .foodZone_closeBut {
    font-size: 55px;
  }
}
